# Dependencies
node_modules
npm-debug.log

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Documentation
README.md
README_CN.md
docs

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.pem
tmp
temp
s3tmp_*

# Only include production dependencies and built files
!dist/
